.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

@media screen and (max-width: 1279px) {
  .header__square-pic {
  height: 500px;
  width: 500px;
  top: 120px;
  }
}

@media screen and (max-width: 1023px) {
  .header__square-pic {
    height: 400px;
    width: 400px;
    top: 300px;
  }
}

@media screen and (max-width: 767px) {
  .header__square-pic {
    height: 300px;
    width: 300px;
    top: 370px;
  }
}

    