.footer__column_content_copyright {
  flex-basis: 711px;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 1279px) {
  .footer__column_content_copyright {
    flex-basis: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__column_content_copyright {
    flex-basis: 380px;
  }
}

@media screen and (max-width: 767px) {
  .footer__column_content_copyright {
    flex-basis: 100px;
    order: 1;
    margin-top: 40px;
  }
}