.table {
  width: calc(100% - 2*108px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
  padding: 0;
}