.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  .header__subtitle {
    font-size: 18px;
    bottom: 223px;
  }
}