.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 10px;
  }
}